.Notification {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 378px;
	height: 40px;
	border-radius: 3px;
	border: solid 1px var(--grey1-color);;
	margin: auto;
	vertical-align: middle;
}

.Notification p {
	margin-left: 8px;
	color: var(--grey3-color);
	font-size: 12px;
}

.Notification #left-notif {
	display: flex;
	align-items: center;
	margin-left: 8px;
}

.Notification #infos-icon {
	height: 15px;
	color: var(--main-highlight-color);
}

.Notification #close-icon {
	height: 9px;
	margin-right: 8px;
	color: var(--grey2-color);
	cursor: pointer;
}
