.CardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CardHeader .line {
  width: 40px;
  height: 4px;
  border-radius: 2px;
}

.CardHeader .right {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 16px;
}
