.Login {
  background-color: var(--blue-500);
  width: 100%;
  height: 100%;
}

.Login .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.Login .title {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.Login .text {
  width: 300px;
  margin: auto;
}

.Login .goback {
  text-decoration: none;
  margin: auto;
  display: grid;
  opacity: 0.8;
  color: white;
  grid-column-gap: 8px;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
}

.Login .goback p {
  cursor: pointer;
  opacity: 0.8;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  /* text-align: center; */
  color: #ffffff;
}

.Login .text p {
  opacity: 0.8;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.Login .username {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.Login .users {
  z-index: 1;
  width: 100%;
  display: grid;
  grid-gap: 64px;
  position: relative;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 120px);
}
