.PasswordModal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.PasswordModal .TextInput {
  width: 300px;
  margin-bottom: 16px;
}
