.Register h1 {
  font-size: 30px;
  line-height: 0.83;
  text-align: center;
  color: var(--grey5-color);
}

.Register .container {
  width: 80%;
  height: 470px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Register p {
  font-size: 14px;
  line-height: 1.79;
  color: var(--grey5-color);
}

.Register .goback {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.Register .goback p {
  margin-left: 8px;
}
