.SwitchButton {
	display: flex;
	align-items: center;
}

.SwitchButton #switch-container {
  width: 50px;
  height: 24px;
	cursor: pointer;
}

.SwitchButton #switch-container.secondary {
  width: 40px;
  height: 16px;
}

.SwitchButton #background {
  position: absolute;
  width: 50px;
  height: 24px;
  background-color: var(--grey2-color);
  border-radius: 12px;
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.12);
  transition-property: transform, background-color;
  transition-duration: 0.4s;
}

.SwitchButton #background.secondary {
  background-color: white;
  width: 32px;
  height: 8px;
  margin-top: 4px;
  margin-left: 8px;
}

.SwitchButton #cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-duration: 0.4s;
  margin-top: 2px;
  margin-left: 2px;
}

.SwitchButton #cursor.secondary {
  width: 16px;
  height: 16px;
  margin-top: 0px;
  margin-left: 0px;
}

.SwitchButton label {
  font-size: 10px;
  font-weight: 600;
  color: var(--grey5-color);
  letter-spacing: 0.5px;
  margin-right: 8px;
}
