.Button {
  width: 225px;
  height: 50px;
  outline: none;
  border-radius: 25px;
  font-weight: 600;
  border: solid 2px var(--main-highlight-color);
  cursor: pointer;
}

.Button.primary {
  color: white;
  background-color: var(--main-highlight-color);
  transition: box-shadow 0.2s ease-in-out;
}

.Button.primary:hover {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.16), 0 10px 16px 0 rgba(69, 139, 248, 0.4);
  transition: box-shadow 0.2s ease-in-out;
}

.Button.secondary {
  color: var(--main-highlight-color);
  background-color: white;
}
