.Button {
  padding-left: 32px;
  padding-right: 32px;
  height: 50px;
  outline: none;
  border-radius: 6px;
  border: solid 2px var(--blue-300);
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.Button.primary {
  color: white;
  background-color: var(--blue-300);
  transition: box-shadow 0.2s ease-in-out;
  transition: transform 0.4s ease-in-out, box-shadow 0.2s ease-in-out;
}

.Button.primary:hover {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.16), 0 10px 16px 0 rgba(69, 139, 248, 0.4);
  transform: translateY(-5px);
}

.Button.secondary {
  color: var(--grey-200);
  border-radius: 6px;
  background-color: var(--grey-100);
  border: solid 1px var(--grey-200);
}

.Button.secondary:hover {
  color: var(--blue-200);
  border: solid 1px var(--blue-200);
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out
}
