.Tabs {
  height: 65px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
  background-color: var(--main-bg-color);
  color: var(--grey2-color);
}

.Tabs #tab {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Tabs p {
  margin-left: 8px;
  color: var(--grey2-color);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.Tabs .active {
  color: var(--main-highlight-color);
}

.Tabs .active p {
  color: var(--main-highlight-color);
}
