.Tabs {
  height: 65px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  background-color: #f5f7fa;
  color: #707070;
}

.Tabs #tab {
  display: flex;
  align-items: center;
  cursor: default;
}

.Tabs p {
  margin-left: 8px;
}

.Tabs .active {
  color: #6ba3fa;
}
