.Devices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Devices .lastsync {
  display: flex;
  justify-content: space-between;
}

.Devices .syncstatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75px;
}

.Devices .syncstatus p {
  color: var(--grey5-color) !important;
}

.Devices .lastsync p {
  color: var(--grey2-color);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
