.Devices {
  display: grid;
  grid-template-columns: auto 300px;
  width: 100%;
  height: 100%;
}

.Devices .cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 32px;
}

.Devices .sidebar {
  text-align: center;
}

.Devices .lastsync {
  display: flex;
  justify-content: space-between;
}

.Devices .syncstatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75px;
}

.Devices .syncstatus p {
  color: var(--grey5-color) !important;
}

.Devices .lastsync p {
  color: var(--grey2-color);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
