.Settings .profile {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  height: 220px;
}

.Settings .fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Settings .TextInput {
  width: 224px;
}

.Settings .button-container {
  display: flex;
  justify-content: center;
}

.Settings .parameters {
  display: flex;
  justify-content: space-evenly;
}

.Settings .parameters p {
  margin: 0;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.7px;
  text-align: left;
  color: #666666;
  max-width: 277px;
}
