.Card {
  width: 378px;
  min-height: 114px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.Card .flex {
  display: flex;
}

.Card .content {
  margin: auto;
  margin-top: 16px;
  width: 330px;
}

.Card .title {
  color: var(--grey5-color);
  font-size: 20px;
  font-weight: 600;
}

.Card .description {
  color: var(--grey3-color);
  font-size: 14px;
}

.Card .image {
  height: 100px;
  background-size: cover;
  background-position: top center;
}
