.Card {
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.Card .flex {
  display: flex;
}

.Card h1 {
  margin: 0;
}

.Card .content {
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.Card .description {
  color: var(--grey3-color);
  font-size: 14px;
}

.Card .image {
  height: 100px;
  background-size: cover;
  background-position: top center;
  border-radius: 3px;
}
