.TextInput {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.TextInput input {
  height: 33px;
  border-radius: 3px;
  border: solid 1px var(--grey2-color);
  font-size: 14px;
  padding-left: 8px;
}

.TextInput input:focus {
  outline: none;
  border: solid 1px var(--main-highlight-color);
}

.TextInput.error input:focus {
  border: solid 1px var(--error-color);
}

.TextInput input:focus + label {
  color: var(--main-highlight-color);
}

.TextInput.error input:focus + label {
  color: var(--error-color);
}

.TextInput label {
  margin: 0;
  font-size: 12px;
  margin-bottom: 8px;
  color: var(--grey3-color);
}
