.TextInput {
  display: flex;
  flex-direction: column-reverse;
}

input {
  /* width: 301px; */
  height: 33px;
  border-radius: 3px;
  border: solid 1px #cccccc;
  font-size: 14px;
}

input:focus {
  outline: none;
  border: solid 1px #458bf8;
}

input:focus + label {
  color: #458bf8;
}

.TextInput label {
  margin: 0;
  font-size: 12px;
  margin-bottom: 8px;
  color: #707070;
}
