.Header {
  z-index: 1;
  position: relative;
  background-color: white;
}

.Header.shadow {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}

.title-section p {
  display: inline-block;
  font-size: 14px;
  color: #4c4c4c;
}

.title-section .title {
  color: #69a1f9;
}

#avatar-section {
  display: flex;
  align-items: center;
}

#avatar {
  background-image: url('https://randomuser.me/api/portraits/women/76.jpg');
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  vertical-align: middle;
  display: table-cell;
}

#avatar-text {
  padding-left: 8px;
  vertical-align: middle;
  display: table-cell;
  font-size: 14px;
  color: #4c4c4c;
}

.caret {
  vertical-align: middle;
  display: table-cell;
  padding-left: 8px;
  height: 5px;
}

.caret {
  color: #b2b2b2;
}

.home {
  color: #458bf8;
}

.children {
  padding-bottom: 16px;
}
