.Header {
  z-index: 1;
  width: 410px;
  position: fixed;
  background-color: white;
  top: 0;
}

.Header #top-section {
  display: flex;
  height: 64px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  justify-content: space-between;
}

.Header.shadow {
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.15);
}

.Header #title-section p {
  display: inline-block;
  font-size: 14px;
  color: var(--grey3-color);
}

.Header #title-section  #title {
  color: var(--main-highlight-color);
}

.Header #avatar-section {
  display: flex;
  align-items: center;
}

.Header .Avatar {
  width: 32px;
  height: 32px;
}

.Header #avatar-text {
  padding-left: 8px;
  vertical-align: middle;
  display: table-cell;
  font-size: 14px;
  color: var(--grey4-color);
}

.caret {
  vertical-align: middle;
  display: table-cell;
  padding-left: 8px;
  height: 5px;
}

.caret {
  color: var(--grey2-color);
}

.home {
  color: var(--main-highlight-color);
}

.children {
  padding-bottom: 16px;
}
