.Header {
  z-index: 1;
  position: relative;
  background-color: white;
}

.Header #top-section {
  display: flex;
  height: 64px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  justify-content: space-between;
}

.Header.shadow {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}

.Header #title-section p {
  display: inline-block;
  font-size: 14px;
  color: #4c4c4c;
}

.Header #title-section  #title {
  color: #69a1f9;
}

.Header #avatar-section {
  display: flex;
  align-items: center;
}

.Header .Avatar {
  width: 32px;
  height: 32px;
}

.Header #avatar-text {
  padding-left: 8px;
  vertical-align: middle;
  display: table-cell;
  font-size: 14px;
  color: #4c4c4c;
}

.caret {
  vertical-align: middle;
  display: table-cell;
  padding-left: 8px;
  height: 5px;
}

.caret {
  color: #b2b2b2;
}

.home {
  color: #458bf8;
}

.children {
  padding-bottom: 16px;
}
