@-webkit-keyframes dot-keyframes {
  0% {
    opacity: .4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .4;
  }
}

.Loading {
  text-align: center;
  width: 100%;
}

.Loading .loading-dots {
  animation: dot-keyframes 2s infinite ease-in-out;
  background-color: var(--main-highlight-color);
  border-radius: 17px;
  display: inline-block;
  height: 17px;
  width: 17px;
  margin-right: 8.75px;
  margin-left: 8.75px;
}

.Loading .loading-dots:nth-child(2) {
  animation-delay: .5s;
}

.Loading .loading-dots:nth-child(3) {
  animation-delay: 1s;
}
