.Applications {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.Applications .permissions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Applications .permissions p {
  color: var(--grey5-color);
  font-size: 10px;
  font-weight: 600;
}

.Applications .more {
  display: flex;
  align-items: center;
  color: var(--grey5-color);
}

.Applications .caret-icon {
  vertical-align: middle;
  display: table-cell;
  padding-left: 8px;
  height: 5px;
}
