.Sidebar p {
  color: white;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  cursor: pointer;
}

.Sidebar .Avatar {
  width: 64px;
  height: 64px;
}

.Sidebar .tab {
  opacity: 0.8;
  color: white;
}

.Sidebar .tab:hover {
  opacity: 1;
}

.Sidebar .tab.active {
  color: var(--blue-300);
  opacity: 1;
}

.Sidebar .tab.active p {
  color: var(--blue-300);
}
