.Avatar {
  width: 120px;
  min-width: 120px;
  height: 120px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  vertical-align: middle;
  display: flex;
}

.Avatar .camera {
  margin: auto;
  display: none;
}

.Avatar.upload {
  transition: all 0.5s ease-in-out;
}

.Avatar.upload:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer;
}

.Avatar.upload:hover .camera {
  display: block;
}
