.Avatar {
  background-image: url('https://randomuser.me/api/portraits/women/76.jpg');
  width: 120px;
  min-width: 120px;
  height: 120px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  vertical-align: middle;
  display: table-cell;
}
