* {
  font-family: Asap;
  --main-bg-color: #f5f7fa;
  --main-highlight-color: #458bf8;
  --grey1-color: #e5e5e5;
  --grey2-color: #697496;
  --grey3-color: #697496;
  --grey4-color: #4c4c4c;
  --grey5-color: #191919;
  --error-color: #ee6e7e;
}

body {
  /* width: 410px;
  height: 600px; */
}

h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  color: var(--grey5-color);
}

h2 {
  font-weight: 600;
  font-size: 20px;
  color: var(--grey3-color);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
}

h3 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.79;
  color: var(--grey5-color);
}

p {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.7px;
  color: var(--grey3-color);
}

#root {
  height: 100%;
}
