* {
  font-family: Asap;
  --main-bg-color: #f5f7fa;
  --main-highlight-color: #6ba3fa;
  --grey1-color: #e5e5e5;
  --grey2-color: #b2b2b2;
  --grey3-color: #707070;
  --grey4-color: #4c4c4c;
  --grey5-color: #191919;
}

body {
  width: 410px;
  height: 600px;
}

h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  color: var(--grey5-color);
}

h2 {
  font-weight: 600;
  font-size: 18px;
  color: var(--grey3-color);
  line-height: 1.39;
}

p {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.7px;
  color: var(--grey3-color);
}

#root {
  height: 100%
}
