* {
  font-family: Asap;
  --main-bg-color: #f5f7fa;
  --main-highlight-color: #458bf8;
  --grey1-color: #e5e5e5;
  --grey2-color: #697496;
  --grey3-color: #697496;
  --grey4-color: #4c4c4c;
  --grey5-color: #191919;
  --error-color: #ee6e7e;

  /* Desktop colors */
  --blue-100: #c8cbd3;
  --blue-200: #697496;
  --blue-300: #458bf8;
  --blue-400: #1f2330;
  --blue-500: #252a39;

  --red-100: #ee6e7e;
  --green-100: #40ae6c;

  --grey-100: #f9f9f9;
  --grey-200: #b2b2b2;
  --grey-300: #707070;
}

body {
  /* width: 410px;
  height: 600px; */
}

h1 {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: var(--grey5-color);
}

h2 {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--grey5-color);
}

h3 {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: var(--blue-200);
}

p {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.7px;
  color: var(--grey3-color);
}

#root {
  height: 100%;
}
